version: 2.4.0.{build}
branches:
  only:
  - master
skip_non_tags: false
image: Visual Studio 2022
clone_depth: 1
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
install:
- cmd: ''
before_build:
- cmd: >-
    dotnet restore ./MovieSearchEngine/MovieSearchEngine.csproj --verbosity m

    dotnet restore ./OfdbParser/OfdbParser.csproj --verbosity m

    dotnet restore ./TheMovieDbApi/TheMovieDbApi.csproj --verbosity m

    dotnet restore ./MovieSearchEngineXUnitTests/MovieSearchEngineXUnitTests.csproj --verbosity m
    
    nuget update ./MovieMetaEngineGUI/MovieMetaEngineGUI.csproj
build:
  verbosity: minimal
test: off
artifacts:
- path: '**\*.nupkg'
  name: MovieMetaEngine